@font-face {
    font-family: 'Pixel';
    src: url('./fonts/VT323-Regular.ttf') format('truetype');
    /* Specify the format */
}

body {
    background-color: #88abe3;
    font-family: 'Pixel', 'Times New Roman', Times, serif;

}

::-webkit-scrollbar {
    height: 12px;
    /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #4D82D6;
    /* Color of the scrollbar thumb */
    border-radius: 3px;
    /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    align-content: center;
    margin-top: 70px;
}

h1 {
    font-size: clamp(50px, 10vw, 120px);
    /* Min: 60px, Preferred: 10vw, Max: 120px */
    margin: 0;
}

h3 {
    font-size: clamp(40px, 6vw, 80px);
    /* Min: 40px, Preferred: 6vw, Max: 80px */
    margin: 0;
}

h4 {
    font-size: clamp(30px, 4vw, 60px);
    /* Min: 30px, Preferred: 4vw, Max: 60px */
}


.tab-section {
    background-color: white;
    padding: 5px;
    margin: 0;
    display: flex;
    border-radius: 4px;
    width: 100%;
    flex-wrap: wrap;
}

/* General button styles to look like tabs */
.tab {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: border-color 0.3s, color 0.3s;

}

/* Hover effect */
.tab:hover {
    color: #000;
    border-bottom: 2px solid #87ceeb;
}

/* Active tab styling */
.tab.active {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #1e90ff;
}

.button-group {
    display: flex;
    flex-wrap: nowrap;
}