@font-face {
    font-family: 'Pixel';
    src: url('./fonts/VT323-Regular.ttf') format('truetype');
    /* Specify the format */
}

body {
    background-color: #88abe3;
    font-family: 'Pixel', 'Times New Roman', Times, serif;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    align-content: center;
    margin-top: 70px;
}

h1 {
    font-size: 120px;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 80px;
}

h4 {
    font-size: 60px;

}

.tab-section {
    background-color: white;
    padding: 5px;
    margin-top: 70px;
    display: flex;


}

/* General button styles to look like tabs */
.tab {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: border-color 0.3s, color 0.3s;

}

/* Hover effect */
.tab:hover {
    color: #000;
    border-bottom: 2px solid #87ceeb;
}

/* Active tab styling */
.tab.active {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #1e90ff;
}